* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.cartRow:nth-last-child(1) > td,
.cartRow:nth-last-child(1) > th {
  border-bottom: none;
}
